# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\2020年寒假\basic-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
